@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* NE FONCTIONNE PAS */
@import url(base/_reset.scss);

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.header_home {
  background: #fff;
  padding: 1em;
  box-shadow: 0 0 0.5rem rgba(10, 10, 10, 0.329); // $box-shadow
  position: relative;

  .header__logo {
    font-family: "Shrikhand", cursive; //@import"./base/_typo"
    margin: 0 auto;
    text-align: center;
  }
}

.where {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 1.5em 1em;
  background: #f3f3f3;
  font-size: 1.2rem;
  font-weight: bold;
  .fa-map-marker-alt {
    margin-right: 1em;
  }
}

.about {
  .container {
    padding: 2em;
    text-align: center;
    .about__content {
      margin: 2em 0;
    }
    .btn {
      cursor: pointer;
      background: linear-gradient(
        #ff79da,
        #9356dc
      ); //linear-gradient($secondary, $primary);
      border-radius: 2rem;
      box-shadow: 0.25rem 0.25rem 10px rgba(10, 10, 10, 0.329); // $box-shadow
      padding: 0.75em 1.5em;
      margin-top: 1em;
      margin: auto;
      width: 15rem;
      transform: scale(1);
      transition-property: transform;
      transition-duration: 400ms;
      &:active {
        transform: scale(1.15);

        box-shadow: 0 1rem 2rem rgba(20, 20, 20, 0.8);
        background: linear-gradient(
          hsl(317, 100%, 85%),
          hsl(267, 66%, 75%)
        ); //peut-être remplacer par $gradient-btn--lighten ?
      }
      @media (min-width: 768px){
        &:hover {
          transform: scale(1.15);
  
          box-shadow: 0 1rem 2rem rgba(20, 20, 20, 0.8);
          background: linear-gradient(
            hsl(317, 100%, 85%),
            hsl(267, 66%, 75%)
          ); //peut-être remplacer par $gradient-btn--lighten ?
        }
      }
      
      .about__btn {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

.how {
  display: flex;
  flex-direction: column;

  .how__title {
    margin-left: 1em;
    text-align: left;
  }
  .container {
    display: flex;
    justify-content: center;
    // max-width: 64rem;
    padding: 0 1.5em;
    ol {
      list-style: none;
      padding: 0.75em;
      display: flex;
      flex-wrap: wrap;
    }

    .step {
      display: flex;
      justify-content: center;
      align-items: center;
      // max-width: 100%;
      padding: 1.5em;
      margin: 0.8em;
      box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.075); // $box-shadow
      border-radius: 1.5rem;
      background: rgb(247, 247, 247);
      position: relative;
      .step__counter {
        text-align: center;
        align-items: center;
        padding: 0.5em;
        position: absolute;
        left: -1em;
        background: #9356dc; //$sprimary
        color: #fff;
        border-radius: 3rem;
        height: 1rem;
        width: 1rem;
      }
      .step__icon {
        color: #7e7e7e;
        padding: 0 0.5em;
      }
    }
  }
}

#restaurants {
  background: #f7f7f7;
  padding: 2em 1em;
}
.cards {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  row-gap: 2rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2,1fr); // écrire 1fr, 1fr tout le temps navigateur edge = fail// 
    // dans main.css ligne 177 /* -ms-grid-columns: (1fr)[2]; */ = ok // 

  }
}

.card {
  background: #fff;
  border-radius: 1rem;
  text-decoration: none;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.075); // $box-shadow
  color: inherit;
  display: block;
  position: relative;

  .card__badge {
    background: #99e2d0; //$tertiary
    color: #1b6150; //$darken-tertiary
    padding: 0.5em;
    border-radius: 0.15rem;
    position: absolute;
    right: 1em;
    top: 1em;
  }
  .card__img {
    object-fit: cover;
    height: 12rem;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
  }
  .card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    .card__content {
      line-height: 1rem;
    }
    .card__btn {
      font-size: xx-large;
      .menu__like--Bg {
        display: none;
        color: #ff79da; // $secondary
      }
    }
  }
}

footer {
  //@import"./layout/footer"
  .container {
    background: rgb(56, 55, 55);
    padding: 1em;
  }
  .footer__logo {
    font-family: "Shrikhand", cursive; //@import"./base/_typo"
    text-align: left;
    font-size: 1.5rem;
    color: #fff;
  }
  .footer__nav {
    margin: O;

    .footer__list {
      list-style: none;
      line-height: 1.5rem;
      padding: 1em 0;

      .footer__link {
        color: #fff;
        text-decoration: none;
        line-height: 1.7rem;
        .footer__icon {
          margin-right: 0.5em;
        }
      }
    }
  }
}
