/* RESET */
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  padding: 0;
}

img {
  max-width: 100%;
}

/* TYPO */
/* Font-family */
body {
  font-family: "Roboto", sans-serif;
}

.header__logo,
.footer__logo {
  font-family: "Shrikhand", cursive;
}

/* VARIABLES */
.header {
  background: #fff;
  padding: 1em;
  -webkit-box-shadow: 0 0 0.5rem rgba(10, 10, 10, 0.329);
          box-shadow: 0 0 0.5rem rgba(10, 10, 10, 0.329);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link i {
  position: absolute;
  left: -5em;
  color: #000;
  height: 2rem;
  width: 2rem;
  padding: 1em 0;
}

@media (min-width: 768px) {
  .header__link i {
    left: -15rem;
  }
}

.header__logo {
  margin: 0;
  text-align: center;
}

.body__img {
  max-height: 20rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  background: whitesmoke;
  border-radius: 2rem 2rem 0 0;
  padding: 1em;
  margin-top: -4rem;
  position: relative;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu__title {
  font-family: "Shrikhand", cursive;
  font-size: x-large;
  text-align: left;
}

.header-menu__btn {
  position: relative;
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.5em;
  -webkit-transition: all 450ms;
  transition: all 450ms;
  -webkit-transition-delay: 0, 150ms;
          transition-delay: 0, 150ms;
}

.header-menu__btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header-menu__btn:hover .icon--noBG {
  opacity: 0;
}

.header-menu__btn:hover .icon--BG {
  opacity: 1;
}

.header-menu__btn .icon--noBG {
  opacity: 1;
  font-size: xx-large;
}

.header-menu__btn .icon--BG {
  opacity: 0;
  background: -webkit-gradient(linear, left top, right top, from(#cf70c5), to(#9217cf));
  background: linear-gradient(to right, #cf70c5, #9217cf);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  top: -1em;
  font-size: xx-large;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 1024px) {
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.menu .submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-animation: fadeupin 1s both;
          animation: fadeupin 1s both;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.menu .submenu__1 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.menu .submenu__2 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.menu .submenu__3 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

@-webkit-keyframes fadeupin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeupin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  .menu .submenu {
    width: 30%;
  }
}

.menu .submenu__title {
  text-align: left;
  text-transform: uppercase;
  position: relative;
}

.menu .submenu__title hr {
  height: 0.25rem;
  width: 3rem;
  border: none;
  background: #99e2d0;
  position: absolute;
  bottom: 0;
}

.menu .submenu__item {
  width: 85%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.85rem;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(10, 10, 10, 0.329);
          box-shadow: 0 0.5rem 0.5rem rgba(10, 10, 10, 0.329);
  border-radius: 1.5rem;
  padding: 0;
  margin: 1em;
  min-width: 40ch;
  position: relative;
}

.menu .submenu__item:hover .submenu__item-confirm {
  opacity: 100%;
  padding-right: 1em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu .submenu__item:hover .submenu__item-confirm i {
  font-size: 1.5em;
  margin-left: 0.5em;
  -webkit-transform: rotate(-1turn);
          transform: rotate(-1turn);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.menu .submenu__item .submenu__item-content {
  width: 85%;
  padding: 0.2em 0.75em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu .submenu__item .submenu__item-content__item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu .submenu__item .submenu__item-content__item-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu .submenu__item .submenu__item-price {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 1.5em 1em;
}

.menu .submenu__item .submenu__item-confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5em;
  height: 100%;
  background: #99e2d0;
  color: #fff;
  border-radius: 0 1.5rem 1.5rem 0;
  height: 90px;
  opacity: 0;
}

.menu .submenu__item .submenu__item-iconWrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5em;
}

.btn-wrapper .btn__command {
  cursor: pointer;
  padding: 0.75em 1.5em;
  margin-top: 1em;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  border: none;
  border-radius: 2rem;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(10, 10, 10, 0.329);
          box-shadow: 0 0.5rem 0.5rem rgba(10, 10, 10, 0.329);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.btn-wrapper .btn__command:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-box-shadow: 0 1rem 2rem rgba(20, 20, 20, 0.8);
          box-shadow: 0 1rem 2rem rgba(20, 20, 20, 0.8);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffb3e9), to(#bb95e9));
  background: linear-gradient(#ffb3e9, #bb95e9);
}

footer .container {
  background: #383737;
  padding: 1em;
}

footer .footer__logo {
  margin: 0;
  text-align: left;
  font-size: 1.5rem;
  color: #fff;
}

footer .footer__nav .footer__list {
  list-style: none;
  line-height: 1.5;
  padding: 1rem 0;
}

footer .footer__nav .footer__list .footer__link {
  color: #fff;
  text-decoration: none;
  line-height: 1.7rem;
}

footer .footer__nav .footer__list .footer__link__icon {
  margin-right: 0.5rem;
}
