@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* NE FONCTIONNE PAS */
@import url(base/_reset.scss);

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.header {
  background: #fff;
  padding: 1em;
  box-shadow: 0 0 0.5rem rgba(10, 10, 10, 0.329); // $box-shadow
  display: flex;
  flex-direction: row;
  justify-content: center;

  .header__link {
    position: relative;
    display: flex;

    .header__back-arrow {
      position: absolute;
      left: -5em;
      color: #000;
      height: 2rem;
      width: 2rem;
      padding: 1em 0;
      @media (min-width: 768px) {
        left: -15rem;
      }
    }
  }

  .header__logo {
    font-family: "Shrikhand", cursive; //@import"./base/_typo"
    margin: 0;
    text-align: center;
  }
}

.body__img {
  max-height: 40rem;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

main {
  background: whitesmoke;
  border-radius: 2rem 2rem 0 0;
  padding: 1em;
  margin-top: -4rem;
  position: relative;
}
.header-menu {
  //@import"./layout/header-restaurant"
  display: flex;
  justify-content: space-between;

  .header-menu__title {
    font-family: "Shrikhand", cursive; //@import"./base/_typo"
    font-size: x-large;
    text-align: left;
  }
  .header-menu__btn {
    // position: relative;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5em;

    .icon--noBG {
      opacity: 1;

      font-size: xx-large; //@import"./base/_typo"
    }
    .icon--BG {
      opacity: 0;
      color: #ff79da; //linear-gradient($secondary, $primary);

      font-size: xx-large; //@import"./base/_typo"
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  @media (min-width: 1024px) {
    flex-direction: row;
  }
  .submenu {
    display: flex;
    flex-direction: column;

    .submenu__title {
      text-align: left;
      text-transform: uppercase;
      position: relative;
      hr {
        height: 0.25rem;
        width: 3rem;
        border: none;
        background: #99e2d0; //$tertiary;
        position: absolute;
        bottom: 0;
      }
    }
    .submenu__item {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      // line-height: 0.8rem;
      font-size: 0.85rem; //@import"./base/_typo"

      background: #fff;
      box-shadow: 0 0.5rem 0.5rem rgba(10, 10, 10, 0.329); // $box-shadow
      border-radius: 1.5rem;
      padding: 0 0.75em;
      margin: 1em 0;
      position: relative;


      .submenu__item-content {
        width: 85%;
        .submenu__item-title {
          // variable ? map ? fonction ?
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .submenu__item-description {
          // variable ? map ? fonction ?
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .submenu__item-price {
        align-self: flex-end;
        padding-bottom: 1em;
      }
      .submenu__item-confirm {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 0;
        font-size: 1.5rem;
        padding: 1.5em 0;
        position: relative;
        right: -0.5em;
        // opacity: 1;
        background: #99e2d0; //$tertiary
        color: #fff;
        border-radius: 0 1.5rem 1.5rem 0;
        overflow: hidden; // variable ? map ? fonction ?
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  padding: 1.5em;

  .btn__command {
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(
      #ff79da,
      #9356dc
    ); //linear-gradient($secondary, $primary);
    border: none;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 0.5rem rgba(10, 10, 10, 0.329); // $box-shadow
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
    &:active {
      transform: scale(1.15);

      box-shadow: 0 1rem 2rem rgba(20, 20, 20, 0.8);
      background: linear-gradient(
        hsl(317, 100%, 85%),
        hsl(267, 66%, 75%)
      ); //peut-être remplacer par $gradient-btn--lighten ?
    }
    @media (min-width: 768px) {
      &:hover {
        transform: scale(1.15);

        box-shadow: 0 1rem 2rem rgba(20, 20, 20, 0.8);
        background: linear-gradient(
          hsl(317, 100%, 85%),
          hsl(267, 66%, 75%)
        ); //peut-être remplacer par $gradient-btn--lighten ?
      }
    }

    padding: 0.75em 1.5em;
    margin-top: 1em;
  }
}

footer {
  //@import"./layout/footer"
  .container {
    background: rgb(56, 55, 55);
    padding: 1em;
  }
  .footer__logo {
    font-family: "Shrikhand", cursive; //@import"./base/_typo"
    text-align: left;
    font-size: 1.5rem;
    color: #fff;
  }
  .footer__nav {
    margin: O;

    .footer__list {
      list-style: none;
      line-height: 1.5;
      padding: 1rem 0;

      .footer__link {
        color: #fff;
        text-decoration: none; //
        line-height: 1.7rem;
        .footer__icon {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
