
*,
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1500px;
}

img {
  max-width: 100%;
}
/* TYPO */
/* Font-family */

// @import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.header__logo,
.footer__logo {
  font-family: "Shrikhand", cursive;
}

/* VARIABLES */


$box-shadow: 0 0.5rem 0.5rem rgba(10, 10, 10, 0.329);
$box-shadow--hover: 0 1rem 2rem rgba(20, 20, 20, 0.8);

$clr-primary: #9356dc;
$clr-secondary: #ff79da;
$clr-tertiary: #99e2d0;

/* ANIMATIONS */
/* Keyframes */

@keyframes fadeupin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*------------------------*/



.header {
  background: #fff;
  padding: 1em;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .header__link {
    position: relative;
    display: flex;

    .header__back-arrow {
      position: absolute;
      left: -4.5em;
      color: #000;
      height: 2rem;
      width: 2rem;
      padding: 1em 0;
      @media (min-width: 768px) {
        left: -15rem;
      }
    }
  }

  .header__logo {
    font-family: "Shrikhand", cursive;
    margin: 0;
    text-align: center;
  }
}

.body__img {
  max-height: 20rem;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

main {
  background: whitesmoke;
  border-radius: 2rem 2rem 0 0;
  padding: 1em;
  margin-top: -4rem;
  position: relative;
}
.header-menu {
  display: flex;
  justify-content: space-between;

  .header-menu__title {
    font-family: "Shrikhand", cursive;
    font-size: x-large;
    text-align: left;
   
  }
  .header-menu__btn {
    position: relative;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5em;

    transition: all 450ms;
    transition-delay: 0, 150ms;

    &:hover {
      transform: scale(1.2);
      .icon--noBG {
        opacity: 0;
      }
      .icon--BG {
        opacity: 1;
      }
    }
    .icon--noBG {
      opacity: 1;
      font-size: xx-large;
    }
    .icon--BG {
      opacity: 0;
      background: linear-gradient(to right, $clr-secondary, $clr-primary);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      position: relative;
      top: -1em;
      font-size: xx-large;
    }
  }
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
  .submenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    animation: fadeupin 1s both;

    transition: transform 600ms;
    transition-timing-function: ease-in-out;

    &__1 {
      animation-delay: 600ms;
    }
    &__2 {
      animation-delay: 800ms;
    }
    &__3 {
      animation-delay: 1000ms;
    }

    

    @media (min-width: 1024px) {
      width: 30%;
    }

    .submenu__title {
      text-align: left;
      text-transform: uppercase;
      position: relative; 
      margin-left: 1.5em;

      
      hr {
        height: 0.25rem;
        width: 3rem;
        border: none;
        background: $clr-tertiary;
        position: absolute;
        bottom: 0;
      }
    }
    .submenu__item {
      width: 85%;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 0.85rem;
      background: #fff;
      box-shadow: $box-shadow;
      border-radius: 1.5rem;
      padding: 0;
      margin: 1em;
      // min-width: 40ch;
      position: relative;

      &:hover .submenu__item-confirm {
        opacity: 100%;
        padding-right: 1em;

        i {
          font-size: 1.5em;
          margin-left: 0.5em;
          transform: rotate(-1turn);
          transition: transform 400ms ease-in-out;
        }
        transition: all 0.5s;
      }

      .submenu__item-content {
        width: 85%;
        padding: 0.2em 0.75em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .submenu__item-title {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .submenu__item-description {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .submenu__item-price {
        align-self: flex-end;
        padding: 1.5em 1em;
      }
      .submenu__item-confirm {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1.5em;
        height: 100%;
        background: #99e2d0;
        color: #fff;
        border-radius: 0 1.5rem 1.5rem 0;
        height: 90px;
        opacity: 0;
      }
      .submenu__item-iconWrap {
        justify-content: center;
        align-items: center;
        display: flex;
      }
    }
  }
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  padding: 1.5em;

  .btn__command {
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    background: linear-gradient($clr-secondary, $clr-primary);
    border: none;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 0.5rem rgba(10, 10, 10, 0.329);
    transform: scale(1);
    transition: transform 400ms;

    &:hover {
      transform: scale(1.15);

      box-shadow: $box-shadow--hover;
      background: linear-gradient(hsl(317, 100%, 85%), hsl(267, 66%, 75%));
    }

    padding: 0.75em 1.5em;
    margin-top: 1em;
  }
}

footer {
 
  .container {
    background: rgb(56, 55, 55);
    padding: 1em;
  }
  .footer__logo {
    font-family: "Shrikhand", cursive; 
    text-align: left;
    font-size: 1.5rem;
    color: #fff;
  }
  .footer__nav {
    margin: O;

    .footer__list {
      list-style: none;
      line-height: 1.5;
      padding: 1rem 0;

      .footer__link {
        color: #fff;
        text-decoration: none; 
        line-height: 1.7rem;
        .footer__icon {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
