footer {
    .container {
      background: rgb(56, 55, 55);
      padding: 1em;
    }
    .footer__logo {
      font-family: "Shrikhand", cursive; //@import"./base/_typo"
      text-align: left;
      font-size: 1.5rem;
      color: #fff;
    }
    .footer__nav {
      margin: O;
  
      .footer__list {
        list-style: none;
        line-height: 1.5;
        padding: 1rem 0;
  
        .footer__link {
          color: #fff;
          text-decoration: none; //
          line-height: 1.7rem;
          .footer__icon {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }