.header {
    background: #fff;
    padding: 1em;
    box-shadow: 0 0 0.5rem rgba(10, 10, 10, 0.329);// $box-shadow
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    .header__link {
      position: relative;
      display: flex;
  
      .header__back-arrow {
        position: absolute;
        left: -5em;
        color: #000;
        height: 2rem;
        width: 2rem;
        padding: 1em 0;
        @media (min-width: 768px) {
          left: -15rem;
        }
      }
    }
  
    .header__logo {
      font-family: "Shrikhand", cursive; //@import"./base/_typo"
      margin: 0;
      text-align: center;
    }
  }
  
  .body__img {
    max-height: 40rem;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  main {
    background: whitesmoke;
    border-radius: 2rem 2rem 0 0;
    padding: 1em;
    //   @media (min-width: 768px) {
    //     margin: auto;
    //     width: 70%;
    //   }
  }
  .header-menu {
    display: flex;
    justify-content: space-between;
  
    .header-menu__title {
      font-family: "Shrikhand", cursive; //@import"./base/_typo"
      font-size: x-large;
      text-align: left;
    }
    .header-menu__btn {
      // position: relative;
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 1.5em;
  
      .icon--noBG {
        opacity: 1;
       
  
        font-size: xx-large; //@import"./base/_typo"
      }
      .icon--BG {
        opacity: 0;
        color: #ff79da; //linear-gradient($secondary, $primary);
        
        font-size: xx-large; //@import"./base/_typo"
      }
    }
  }