body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Shrikhand', cursive;
}

h3, p{
    font-size: 0.85rem;
}
.icon--noBG, .icon--BG {
font-size: xx-large;
}

a {
    text-decoration: none;
}
